{% extends 'static_layout.html' %}
{% block body %}
<div class="container">
      <div class="jumbotron">
        <h1>WEMOS DATA</h1>
      </div>

      <div class="row marketing">

      </div>

      <footer class="footer">
        <p>&copy; Laird Streak  2018</p>
      </footer>

    </div>
{% endblock %}
{% block data %}
<script src="{{ url_for('static', filename='js/jquery.knob.min.js') }}"></script>
<div class="col-lg-3" align="middle">
    <input type="text" value="0" class="dial" data-skin="tron">
</div>
<div class="col-lg-3" align="middle">
    <input type="text" value="0" class="dial2" data-skin="tron">
</div>
<div>
    <span id="dialog_title_span">'+dialog_title+'</span>
</div>
<script>
    $(function() {
        $(".dial").knob();
        $(".dial2").knob();
    });


setInterval(refresh_dial,30000);

function refresh_dial(){
    var path = '/getdata/'
    $.ajax(path).done(function(data) {
    $('.dial').val(data.Temperature).trigger('change');
    $('.dial2').val(data.Humidity).trigger('change');
    tnow = new Date().toString();
    $('#dialog_title_span').text(tnow);
}).fail(function(data){
  $('#dialog_title_span').text("Error");
});
}

<img src="/temperatureplot/" alt="Image" />
</script>
{% endblock %}